$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Raleway", sans-serif;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$primary-text-color-theme-dark: #ffffff;
$secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
$primary-background: #2f303a;
$accent-background: #188ce8;
$light-background-color: #f5f4fa;
$dark-background-color: #2f303a;
